<h1>Plan</h1>
<p>Your budget plan!</p>

<p-dataTable [value]="objectives" [editable]="true" (onRowSelect)="onRowSelect($event)" (onEdit)="onEdit($event)" (onEditComplete)="onEditComplete($event)">   
    <p-column field="id" header="Id" [sortable]="true"></p-column>
    <p-column field="name" header="Name" [sortable]="true" [editable]="true"></p-column>   
    <p-column field="category.name" header="Category" [editable]="true" [style]="{'overflow':'visible'}">
        <template let-col let-objective="rowData" pTemplate="editor" >
            <p-dropdown [(ngModel)]="objective[col.field]" [options]="dropdownCategories" (onChange)="onChange($event, objective)" (onBlur)="DropdownChanged" [autoWidth]="false" [style]="{'width':'100%'}" required="true"></p-dropdown>
        </template>
    </p-column>
    <p-column field="description" header="Description" [sortable]="true" [editable]="true"></p-column>      
</p-dataTable>

<p-dropdown [options]="dropdownCategories" editable="editable" (onChange)="onChange($event)" (onBlur)="onChange" (onFocus)="onChange" placeholder="Select a City"></p-dropdown>
